@model IEnumerable<KUMF5H_ASP_2022232.Models.FoodRequest>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<FoodUser> SignInManager
@inject UserManager<FoodUser> UserManager

@{
    ViewData["Title"] = "My Contracts";
}

<div class="text-center">
    <h1 class="display-4">My To do</h1>
    <p>TO DO</p>
</div>

<div class="row row-cols-sm-2 row-cols-1 row-cols-lg-4 g-4">
    @if (Model.Count() == 0)
    {
        <p>No Contracts .</p>
    }
    @foreach (var item in Model)
    {
        <div class="col">
            <div class="card h-100">
                <img class="card-img-top img-fluid" src="@Url.Action("GetImage", "FoodRequest", new {id = item.Id})" alt="" />
                <div class="card-body">
                    <h5 class="card-title">
                        @Html.DisplayFor(modelItem => item.Name)
                    </h5>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.Description)</p>
                    <blockquote class="blockquote mb-0">
                        <footer class="blockquote-footer">
                            <small class="text-muted">
                                Sold by <cite title="Source Title">@item.Requestor.FirstName @item.Requestor.LastName[0].</cite>
                            </small>
                        </footer>
                    </blockquote>
                </div>
                <div class="card-footer">
                    <div class="float-end">
                        <a asp-action="Details" class="stretched-link btn btn-primary" asp-route-id="@item.Id">Details</a>
                    </div>
                  
                </div>
            </div>
        </div>
    }
</div>